<a href='#myModal-{$id}' n:class='btn, isset($btnClass) ? $btnClass' data-toggle='modal'>
	{include #button}
</a>

<div class='modal fade' id='myModal-{$id}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
	.modal-dialog
		.modal-content
			.modal-header
				<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
				{include #header}

			.modal-body
				{include #body}
</div>
