{include $layoutTemplate}

.panel
	.panel-heading
		.panel-title Fotky v galerii
	.panel-body
		#galleryFileList
			%ul#sortable [data-sort-link => {link sort!}, data-param-name => "uploadControl-data"]
				{foreach $galleryFiles as $id => $row}
						%li [id => {$id}]
							<img src="{$basePath}/{$galleryThumbDir}{$row['name']}">
							%br
							<a n:href="deleteFile!, fileId => $row['id']" class="del" data-placement="bottom">&nbsp;</a>
				{/}
