php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

services:
	cache: Nette\Caching\Cache(@cacheStorage, 'dataCache')
	pathFilter: Schmutzka\Components\WebLoader\Filter\PathFilter
	lessFilter: WebLoader\Filter\LessFilter

	- RouterFactory
	router: @\RouterFactory::create
	- Schmutzka\Components\IFlashMessageControl
	- Schmutzka\Components\IGaControl
	- Schmutzka\Components\ITitleControl
	- Schmutzka\Mail\IMessage
	- Schmutzka\ParamService(@container::getParameters())

	schmutzka.helpers:
		class: Schmutzka\Templating\Helpers
		tags: ['template.helperLoader']

	schmutzka.macroSet:
		class: Schmutzka\Latte\Macros\MacroSet
		tags: ['template.macroSet']
