php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

services:
	cache: Nette\Caching\Cache(@cacheStorage, 'dataCache')
	pathFilter: Schmutzka\Components\WebLoader\Filter\PathFilter
	lessFilter: WebLoader\Filter\LessFilter

	- RouterFactory
	router: @\RouterFactory::create

	- Schmutzka\Components\IFlashMessageControl
	- Schmutzka\Components\IGaControl
	- Schmutzka\Components\ITitleControl
	- Schmutzka\Diagnostics\Panels\CleanerPanel
	- Schmutzka\Mail\IMessage
	- Schmutzka\ParamService(@container::getParameters())
