#subscribeControl
	{if $sent}
		%p.alert.alert-success
			Thank you, we will let you know first. No spam of course.

	{else}
		.panel.panel-default
			.panel-heading
				%h3 Get Early Access
			.panel-body

				{form form}
					.row
						.col-md-7
							{input email}
						.col-md-5
							{input send}
				{/}
	{/}
