/********************* formulas *********************/

sup, sub {height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative;}
sup {bottom: 1ex;}
sub {top: .5ex;}

/********************* functions & shortucts (required to be at the same file, unless doesn't inherit functions) *********************/

.btn {cursor: piointer}

.left {
	text-align: left;
}

.right {
	text-align:right;
}


.rotate(@deg: 135deg) {
	-webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
}

table td.center, td.center, .center {
	text-align: center;
}

table.manage {
	margin:auto;

	td {
		border:none;

		> .btn {
			background:#FFF;
		}
	}
}

.gradient(@from, @to) {
   .vertical(@from, @to);
//  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: @to @to darken(@to, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}





/* shadows */
.sh(@x: 0, @y: 0, @blur: 15px, @color: #CCC) {
	box-shadow: @x @y @blur @color;
	-moz-box-shadow: @x @y @blur @color;
	-webkit-box-shadow: @x @y @blur @color;
}

.ts(@x: 1px, @y: 1px, @blur: 2px, @color: #CCC) {
	text-shadow: @color @x @y @blur ;
}


.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
 * html .clearfix {height: 1%;}


.responsiveBackground(@url) {
	background: url(@url)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.responsiveBackgroundNotfixed(@url) {
	background: url(@url)  no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ac(@normal, @hover) {
	a {
		color: @normal;

		&:hover {
			color: @hover;
		}
	}
}

.ad(@normal, @hover) {
	a {
		text-decoration: @normal;

		&:hover {
			text-decoration: @hover;
		}
	}
}
