webloader:
	css:
		admin:
			remoteFiles:
				- //netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css
				- http://bootstrapstyler.com/preview/_/libero/bootstrap/css/bootstrap.min.css
				- http://bootstrapstyler.com/preview/_/libero/css/theme.css
				- "//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300&subset=latin,latin-ext"
				- "http://fonts.googleapis.com/css?family=Fugaz+One|Leckerli+One"

	js:
		admin:
			files:
				- %assetsDir%/js/jquery/jquery-1.10.2.min.js
				- modules/bootstrap/bootstrap.js
				- %assetsDir%/js/nette/netteForms.js
				- %assetsDir%/js/nette/nette.ajax.js
				- %assetsDir%/js/base.js

				# DatePicker & DateTimePicker
				- %assetsDir%/js/bootstrap/bootstrap-datetimepicker.js
				- %assetsDir%/js/bootstrap/bootstrap-datetimepicker.cs.js
				- %assetsDir%/js/bootstrap/nextras.datetimepicker.init.js
