parameters:
	pageModule:
		title: Stránky
		perex: FALSE
		attachmentGallery: FALSE
		attachmentFiles: FALSE
		adminNote: FALSE
		contentHistory: FALSE
		menu:
			icon: icon-file

services:
	- Schmutzka\Models\Page
	- Schmutzka\Models\PageContent

factories:
	pageControl: PageModule\Components\PageControl
	pageGrid: PageModule\Components\PageGrid
