parameters:
	logUserActivity: TRUE

services:
	user: Schmutzka\Security\User
	- Schmutzka\Security\UserManager
	- Models\User
	- Models\File
	- Components\IChangePasswordControl
	- Components\ILoginControl
	- Components\IRegistrationControl
	- Components\IRemindPasswordControl

extensions:
	notorm: NotORMExtension\DI\Extension

notorm:
	username: root
	password:
	dbname:
