parameters:
	logUserActivity: TRUE

services:
	user: Schmutzka\Security\User
	- Schmutzka\Security\UserManager

extensions:
	notorm: NotORMExtension\DI\Extension

notorm:
	username: root
	password:
	dbname:
