parameters:
	logUserActivity: TRUE

services:
	user: Schmutzka\Security\User
	userManager: Schmutzka\Security\UserManager
	userModel: Schmutzka\Models\User

factories:
	changePasswordControl:
		class: Components\ChangePasswordControl
		implement: Components\IChangePasswordControl

	loginControl:
		class: Components\LoginControl
		implement: Components\ILoginControl

	registrationControl:
		class: Components\RegistrationControl
		implement: Components\IRegistrationControl

	remindPasswordControl:
		class: Components\RemindPasswordControl
		implement: Components\IRemindPasswordControl

extensions:
	notorm: NotORMExtension\DI\Extension

notorm:
	username: root
	password:
	dbname:
