php:
	date.timezone: Europe/Prague
	session.save_path: %tempDir%/sessions
	zlib.output_compression: yes


parameters:
	libsDir: %appDir%/../libs
	jQuery: 'jquery-1.10.1.min.js'
	gaLink:
	logUserActivity: FALSE

	flashes:
		onLogin: Byli jste úspěšně přihlášeni
		onLogout: Byli jste úspěšně odhlášeni
		onDeleteSuccess: 'Záznam byl úspěšně smazán.'
		onDeleteError: 'Tento záznam neexistuje.'

	login:
		wrongPassword: Chybné heslo.
		notExistingAccount: Tento účet neexistuje.

	form:
		login:
			label: 'Přihlašovací jméno:'
			ruleFilled: 'Zadejte přihlašovací jméno'
			ruleFormat: 'Login nemá správný formát'
			alreadyExists: 'Zadaný login již existuje.'
		email:
			label: 'Přihlašovací email:'
			ruleFilled: 'Zadejte přihlašovací email'
			ruleFormat: 'Email nemá správný formát'
			alreadyExists: 'Zadaný email již existuje.'
		password:
			label: 'Heslo:'
			ruleFilled: 'Zadejte heslo'
			length: 'Heslo musí mít aspoň %d znaků.'
		permalogin:
			label: 'Zapamatovat'
		send:
			login: 'Přihlásit se'
			register: 'Registrovat'

	registration:
		onSuccess: 'Registrace proběhla úspěšně.'
		onSuccessAndLogin: 'Byli jste úspěšně registrováni a přihlášeni.'
		onAuthSuccess: 'Váš účet byl aktivován. Nyní se můžete přihlásit.'
		onAuthError: 'Tento odkaz již není platný.'


nette:
	session:
		autoStart: TRUE
		debugger: TRUE

	container:
		debugger: TRUE

	debugger:
		email: tomas.vot@gmail.com
		strictMode: TRUE
		showLocation: TRUE
		bar:
			- @cleanerPanel

	security:
		debugger: TRUE

	latte:
		macros:
			- Schmutzka\Templates\Macros::install


services:
	cache: Nette\Caching\Cache(@cacheStorage, 'dataCache')
	lessFilter: Schmutzka\Components\WebLoader\Filter\LessFilter
	pathFilter: Schmutzka\Components\WebLoader\Filter\PathFilter
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	session:
		setup:
			- setExpiration(+ 14 days)

	template:
		class: Schmutzka\Templates\TemplateService
		setup:
			- setLatte(@nette.latte)
	- lessc
	- Schmutzka\ParamService(@container::getParameters())
	- Schmutzka\Templates\Helpers


factories:
	cleanerPanel: Schmutzka\Diagnostics\Panels\CleanerPanel

	message:
		class: Schmutzka\Mail\Message
		implement: Schmutzka\Mail\IMessage

	flashMessageControl:
		class: Components\FlashMessageControl
		implement: Components\IFlashMessageControl

	gaControl:
		class: Components\GaControl
		implement: Components\IGaControl

	rssControl:
		class: Components\RssControl
		implement: Components\IRssControl

	titleControl:
		class: Components\TitleControl
		implement: Components\ITitleControl

extensions:
	- Kdyby\BootstrapFormRenderer\DI\RendererExtension
	- Schmutzka\DI\Extensions\SchmutzkaExtension
	webloader: WebLoader\Nette\Extension


webloader:
	css:
		default:
			filters:
				- @lessFilter
				- @pathFilter
	js:
		upload:
			files:
				- %assetsDir%/js/jquery/fileupload/jquery.ui.widget.js
				- %assetsDir%/js/jquery/fileupload/jquery.iframe-transport.js
				- %assetsDir%/js/jquery/fileupload/jquery.fileupload.js
