parameters:
	galleryModule:
		title: Fotogalerie
		sizeVersions:
			natural:
				height: 1024
				width: 768
			thumbnail:
				height: 100
				width: NULL
		description: FALSE
		menu:
			icon: icon-picture
			items:
				1:
					label: Fotogalerie
					link: Homepage:default

services:
	- Schmutzka\Models\Gallery
	- Schmutzka\Models\GalleryFile

factories:
	galleryControl: GalleryModule\Components\GalleryControl
	galleryGrid: GalleryModule\Components\GalleryGrid
	galleryUploadControl: GalleryModule\Components\UploadControl
