parameters:
	newsModule:
		title: Novinky
		menu:
			icon: icon-bell

services:
	- Schmutzka\Models\News

factories:
	newsControl: NewsModule\Components\NewsControl
	newsGrid: NewsModule\Components\NewsGrid
